#wrapper {
	height: 8000px;
	//cursor: none;
}

#wrapper canvas	{
	position: fixed;
	top: 0;
	left: 0;	
}

*::-webkit-scrollbar { width: 0 !important };

#wrapper:-webkit-full-screen  { width: 100% }  
#wrapper:-moz-full-screen     { width: 100% }  
#wrapper:-ms-full-screen      { width: 100% }  
#wrapper:-o-full-screen       { width: 100% }  
#wrapper:fullscreen          { width: 100% } 